@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
body {
  font-family: "Dosis", sans-serif;
  color: #121213;
  margin: unset;
}

.page_content {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  font-size: 14px;
  line-height: 20px;
}

.banner {
  height: 85vh;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
  margin: 0 auto;
  background-color: #c1c3cc;
  background-image: linear-gradient(
      76deg,
      rgba(193, 195, 204, 0.83) 35%,
      rgba(193, 195, 204, 0.28) 65%
    ),
    url(./assests/banner-background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, fixed;
  position: relative;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.brand {
  width: 5%;
  background-color: #e47312;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  align-self: stretch;
  position: absolute;
}

.brand > img {
  width: 100%;
}

.nav-menu {
  display: flex;
  align-items: stretch;
  align-self: stretch;
  margin-left: auto;
}
.nav-link {
  position: relative;
  display: inline-block;
  padding: 31px 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #414147;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}
.nav-link:hover {
  color: #e47312;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  width: 1px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #e47312;
  transition: 0.2s;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 1px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #e47312;
  transition: 0.2s;
}

.nav-link:hover::before,
.nav-link:hover::after {
  height: 30px;
}

.info-wrapper {
  margin-left: 20px;
  padding: 34px 28px 31px;
  background-color: #e47312;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.info-wrapper:hover {
  background-color: #e98a38;
}

.slogan_container {
  margin-top: 15%;
}

.slogan_container h1 {
  color: #fff;
  font-size: 62px;
  line-height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.slogan_container p {
  font-weight: 400;
  margin-top: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.7);
}

.slogan_container .btn {
  margin-top: 2%;
}

.btn {
  padding: 15px 25px;
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  font-weight: 500;
  font-family: "Dosis";
  border-style: none;
}

.btn:hover {
  background-color: #e98a38;
}

.btn-primary {
  background-color: #e47312;
  color: #fff;
}

.social-vertical {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 15%;
  background-color: #0a1229;
  padding: 10px;
}

.social-icon {
  display: flex;
  width: 40px;
  height: 50px;
  float: left;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
}

.features-wrapper {
  position: absolute;
  bottom: -7%;
  right: 0;
  width: 40%;
  background-color: #e47312;
  background-image: linear-gradient(186deg, #e47312, #ff6361);
}

.infos-flex {
  display: flex;
  justify-content: space-evenly;
}

.info-child {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.phone-text {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.paragraph-white {
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.7);
}

.info-image {
  width: 24px;
  margin-bottom: 15px;
}
section {
  padding: 10% 5%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.services {
  padding-top: 17%;
}

.top-title-wrapper {
  display: flex;
  position: relative;
  align-items: baseline;
  justify-content: space-between;
}

.top-title {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.absolute {
  position: absolute;
  left: -4%;
  top: -50%;
  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 120px;
  letter-spacing: 11px;
}
.navlink {
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.navlink_content {
  display: flex;
  flex-direction: column;
}

.navlink_content::after {
  content: "";
  /* position: absolute; */
  width: 100%;
  height: 2px;
  /* bottom: 0; */
  background-color: transparent;
  transition: 0.2s;
  margin-top: 5px;
}

.navlink_content:hover::after {
  background-color: #e47312;
}

.services-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.service-card {
  width: 20%;
}

.services-info-card {
  width: 43%;
}

.service-card .navlink_content:hover::after {
  width: 5.6em;
}

.services-info {
  display: flex;
  margin-top: 8%;
  justify-content: space-around;
}

.shape-image {
  width: 100%;
}

.fun_facts_container {
  display: flex;
  margin-top: 10%;
  justify-content: space-around;
}

.fun-fact {
  width: 20%;
}

.fun-text {
  margin-bottom: 10px;
  color: #e47312;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  font-family: Dosis, sans-serif;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
}

.gallery,
.team {
  padding: unset;
  padding-top: 2%;
  background-color: #f7f8fc;
}

.gallery .top-title-wrapper,
.team .top-title-wrapper {
  padding: 10% 5%;
  padding-bottom: 0;
  box-sizing: border-box;
}

.gallery .absolute,
.team .absolute {
  left: 0.2em;
  top: 0.6em;
}

.gallery-projects-container {
  margin-top: 5%;
  padding: 0 2%;
}

.gallery-row {
  display: flex;
  justify-content: center;
}

.collection-item {
  width: 33%;
  padding: 5px;
}

.collection-item img {
  width: 100%;
}

.project-overlay {
  display: none;
}

.section.color {
  padding: 7% 5%;
  background-color: #e47312;
  background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)),
    url(./assests/banner-2.jpeg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section.color .top-title-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.white {
  color: white;
}

.top-margin.half {
  margin-top: 25px;
}

.section.color .navlink_content:hover::after {
  background-color: white;
}

.team .absolute {
  left: 0.2em;
  top: 0.7em;
}

.team-photo {
  min-height: 230px;
  background-image: url(./assests/team-1.jpeg);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-photo._2 {
  background-image: url(./assests/team-2.jpeg);
}

.team-photo._3 {
  background-image: url(./assests/team-3.jpeg);
}

.team-photo._4 {
  background-image: url(./assests/team-4.jpeg);
}

.teams-container {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.team-wrapper {
  width: 23%;
  position: relative;
}

.team-content {
  padding: 29px 66px 29px 29px;
  background-color: #fff;
}

.team-wrapper .social-vertical {
  bottom: 0;
  right: 0;
  background-color: #e47312;
}

h1.service-title.team {
  margin: unset;
}

p.job-title {
  margin-top: 10px;
}

h1.service-title.team {
  background-color: unset;
}

.testimonials_container {
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
}

.testimonial-header {
  width: 45%;
}

.testimonial-header .absolute {
  left: -0.3em;
  top: 0.18em;
}

.cliets_testimonais {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.testimonial-header .navlink_content:hover::after {
  width: 6.5em;
}

.clients_testimonial_container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 2%;
}

.clients_testimonial_container.col2 {
  padding-top: 6%;
}

.testimonials-wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin: 50px auto 61px;
  padding: 80px 30px 26px;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.text-block-2 {
  padding-top: 12px;
}

.testimonials-photo {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  margin: -115px auto 25px;
  justify-content: center;
  align-items: stretch;
  border-radius: 100%;
  background-image: linear-gradient(8deg, #ff6361, #e47312);
  opacity: 1;
  color: #fff;
  font-size: 80px;
  line-height: 80px;
}

section.blogs {
  padding-bottom: 5%;
}

.blogs_container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.blog_wrapper {
  width: 32%;
}

.meta-tag {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.blog-image {
  position: relative;
}

.blogs_container img {
  width: 100%;
}

.meta-number {
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #ff6361, #e47312);
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.meta-month {
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #9d9da5;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.blog-content {
  width: 100%;
  padding: 25px 56px 25px 30px;
  background-color: #e47312;
  background-image: linear-gradient(158deg, #e47312, #ff6361);
  box-sizing: border-box;
  min-height: 220px;
}

.blog-content .top-title.smaller-white {
  font-size: 19px;
}

section.logo {
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: linear-gradient(56deg, #e47312, #ff6361);
  max-width: unset;
}

.algin-center {
  display: none;
}

.logo-flex {
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.top-title.smaller-white {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.tab-logo {
  width: 20%;
  min-height: 100px;
  background-color: transparent;
  background-image: url(./assests/logo-1w.png);
  background-position: 50% 50%;
  background-size: 100px;
  background-repeat: no-repeat;
  transition: all 400ms ease;
  text-align: center;
}

.logo .logo-flex .top-title {
  min-width: 200px;
  margin-right: 60px;
}

.footer {
  background-color: #0a1229;
  padding: 5%;
  margin: 0 5%;
  position: relative;
}

.footer_row {
  display: flex;
  justify-content: space-between;
}

.footer_col {
  width: 30%;
}

.footer .navlink_content:hover::after {
  width: 6em;
}

.with-line {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2em;
}

.line {
  width: 55%;
  margin-left: 5%;
  height: 1px;
  background-color: #ff6361;
}

.footer_list_item {
  margin: 11px 0;
}

.info-child.horizontal.no-center {
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: unset;
  padding-top: unset;
}

.info_child_text {
  width: 60%;
  margin-left: 2em;
}

.info_child_text p {
  margin-top: unset;
}

.footer-brand {
  bottom: 0;
  position: absolute;
}

@media screen and (max-width: 1440px) {
  .brand {
    padding: 4%;
  }
  .features-wrapper {
    width: 50%;
  }

  .services {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .brand {
    padding: 5%;
    width: 7%;
  }

  .features-wrapper {
    width: 70%;
  }

  .absolute {
    left: 1%;
    top: -30%;
  }

  .testimonials_container {
    flex-direction: column;
  }
  .testimonial-header {
    width: unset;
  }

  .cliets_testimonais {
    width: unset;
  }

  .testimonials_container .top-title-wrapper {
    padding: 5% 0;
  }

  .testimonial-header .absolute {
    left: -0.3em;
    top: 0.5em;
  }

  .footer {
    margin: unset;
    padding: 5% 0;
  }

  .footer_row {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    height: 800px;
  }
  .top-title {
    font-size: 32px;
    line-height: 40px;
  }

  .absolute {
    font-size: 80px;
  }

  .services-info {
    flex-direction: column;
  }

  .services-info-card {
    width: unset;
    padding: 5% 0;
  }

  .algin-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo .logo-flex .top-title {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .page_content {
    margin: 0;
  }

  .banner {
    padding: unset;
    width: 100%;
  }

  .brand {
    position: static;
    width: 15%;
    padding: 4%;
  }

  .nav-link,
  .info-wrapper {
    display: none;
  }

  .slogan_container {
    margin-top: 25%;
    width: 40%;
    margin-left: 5%;
    margin-right: auto;
  }

  .slogan_container .btn {
    margin-top: 5%;
  }

  .slogan_container h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .features-wrapper {
    width: 100%;
  }

  .top-title {
    font-size: 26px;
    line-height: 30px;
  }

  .absolute {
    font-size: 50px;
  }

  .fun_facts_container {
    margin-top: 5%;
    flex-direction: column;
  }

  .fun-fact {
    width: unset;
    padding-bottom: 5%;
  }

  .gallery-row {
    flex-direction: column;
  }

  .collection-item {
    width: unset;
  }

  .teams-container {
    flex-direction: column;
  }

  .team-wrapper {
    width: unset;
    margin-bottom: 30px;
  }

  .team-photo {
    min-height: 320px;
  }

  .cliets_testimonais {
    flex-direction: column;
  }

  .clients_testimonial_container {
    margin: 0 2%;
    width: 100%;
  }

  .testimonials-wrapper {
    margin-bottom: unset;
  }

  .clients_testimonial_container.col2 {
    padding-top: 0;
  }

  .blogs_container {
    flex-direction: column;
  }

  .blog_wrapper {
    padding-bottom: 10%;
    width: 100%;
  }

  .tab-logo {
    background-size: 90px;
  }

  .footer_row {
    flex-direction: column;
  }

  .footer_col {
    width: 100%;
    margin-bottom: 2em;
    padding: 0 5%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .slogan_container {
    width: 55%;
  }

  .section.color .top-title-wrapper {
    align-items: self-start;
  }

  .tab-logo {
    background-size: 80px;
  }
}

@media screen and (max-width: 479px) {
  .banner {
    height: 500px;
  }
  .features-wrapper {
    display: none;
  }

  .top-title-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .top-title {
    margin-bottom: 9px;
  }

  .absolute {
    display: none;
  }

  .services {
    padding-top: 10%;
  }

  .services-container {
    flex-direction: column;
  }

  .service-card {
    width: unset;
    padding: 5% 0;
  }

  .logo-flex {
    flex-direction: column;
  }

  .tab-logo {
    background-size: 100%;
    width: 30%;
  }

  .info-child {
    padding: 16px;
  }
}

@media screen and (max-width: 425px) {
  .slogan_container {
    width: 60%;
  }

  .social-vertical {
    bottom: 0%;
  }

  .social-icon {
    width: 30px;
    height: 40px;
  }
}

@media screen and (max-width: 375px) {
  .brand {
    width: 25%;
  }
  .slogan_container {
    width: 80%;
  }

  .slogan_container h1 {
    font-size: 40px;
    line-height: 42px;
  }
}
